@import 'utilities/variables';
@import 'utilities/mixins';

@import 'layout/header';
@import 'layout/footer.scss';



body{
    background-image: url(https://img.freepik.com/fotos-premium/textura-pared-cemento-gris-fondos_34552-495.jpg?w=1380);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}



.collapse{
    flex-grow: 0;
}

nav div a img{
    width: 50px;
    height: 50px;
}

.btn-navbar{
    font-size: 30px;
    padding: 2px;
    
}



button a:hover{
    background-color:#999791;
    border-radius: 20px;
}

.container-fluid{
    color: $color;
    background-color: $background-color;
    border-radius: $border-radius;
    width: $width;
    margin: 5px;
    padding: $padding;
    border: $border;
}


.publicidad-main{
    margin: 20px 5px;
}

.img-fluid{
    width: 100%;
}

.text-center {
    h1{
        font-size: 40px;
    }
    img{
        width: 100px;
    }
}

.card{
    border: 3px solid #000;
    margin: 5px;
    width: 300px
}


section{
    margin-bottom: 50px;
}

.destacados{
    margin-bottom:50px;
}

.form-control{
    width: 90%;
    margin-left: 10px;
}

.form-label{
    margin-left: 10px;
}

.h1-ventas{
    text-align: center;
}

.descripcion{
    height: 200px;
}

.btn{
    margin: 0px 10px;
}

.sucursal-icon{
    width: 40px;
}

.nosotros-p{
    font-size: 2rem;
  }
  
  @media (max-width: 900px) {
    .nosotros-p{
      font-size: 1rem;
    }
  }

  .nosotros-section{
    margin-top: 30px;
  }

  .card-sucursales{
    width: 340px;
    margin: 10px;
  }
  
  @media (min-width: 900px) {
    .card-sucursales{
      margin: 10px 50px;
    }
  }

  @media (min-width: 900px) {
    .sucursales-publicidad img{
        height: 600px;
      }
  }

 .filtro, .marcas, .año{
    margin: 10px;
  }

  .lista-comprar{
     width: 80px;
     height: 200px;
     overflow: auto;            
  }